@if ($showForm()) {
  <div class="main-card">
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm" [attr.aria-invalid]="$formPasswordsInvalid()" aria-describedby="frm-msgs">
      <p class="form-control">
        <label for="fld-password1" i18n="form field label|Change password form new password@@fields.newPassword">New Password:</label>
        <input
          [attr.aria-invalid]="$password1CntrlInvalid()"
          [minlength]="minPasswordLength"
          [maxlength]="maxPasswordLength"
          id="fld-password1"
          type="password"
          aria-describedby="fld-password1-msgs"
          autocomplete="new-password"
          formControlName="password1"
          required
        >
        <span id="fld-password1-msgs">
          @if ($password1CntrlErrors(); as errors) {
            <span class="form-alerts">
              @if (errors['required']) {
                <ng-container i18n="form field error message|Password is a required field@@formErrors.newPassword.required">
                  Please enter a new password.
                </ng-container>
              }
              @if (errors['minlength']) {
                <ng-container i18n="form field error message|Password is too short@@formErrors.password.minlength">
                  Please enter a password that contains at least {{ minPasswordLength }} characters and a combination of upper and lowercase
                  letters, numbers, and symbols.
                </ng-container>
              }
              @if (errors['maxlength']) {
                <ng-container i18n="form field error message|Password is too long@@formErrors.password.maxlength">
                  Your password may not be longer than {{ maxPasswordLength }} characters.
                </ng-container>
              }
              @if (errors['passwordstrength']) {
                <ng-container i18n="form field error message|Password is too weak@@formErrors.password.passwordstrength">
                  Your password is not very strong. Include a combination of upper and lowercase letters, numbers, and symbols.
                </ng-container>
              }
              @if (errors['firebasevalidator']) {
                <ng-container i18n="form field error message|Password was rejected by Firebase policy@@formErrors.password.firebasevalidator">
                  Your password needs to include: TODO
                </ng-container>
              }
            </span>
          }
        </span>
      </p>

      <p class="form-control">
        <label for="fld-password2" i18n="form field label|Change password form confirm password@@fields.confirmPassword">
          Confirm Password:
        </label>
        <input
          [attr.aria-invalid]="$password2CntrlInvalid()"
          [minlength]="minPasswordLength"
          [maxlength]="maxPasswordLength"
          id="fld-password2"
          type="password"
          aria-describedby="fld-password2-msgs"
          autocomplete="new-password"
          formControlName="password2"
          required
        >
        <span id="fld-password2-msgs">
          @if ($password2CntrlErrors(); as errors) {
            <span class="form-alerts">
              @if (errors['required']) {
                <ng-container i18n="form field error message|Password is a required field@@formErrors.confirmPassword.required">
                  Please re-enter your password.
                </ng-container>
              }
              @if (errors['minlength']) {
                <ng-container i18n="form field error message|Password is too short@@formErrors.password.minlength">
                  Please enter a password that contains at least {{ minPasswordLength }} characters and a combination of upper and lowercase
                  letters, numbers, and symbols.
                </ng-container>
              }
              @if (errors['maxlength']) {
                <ng-container i18n="form field error message|Password is too long@@formErrors.password.maxlength">
                  Your password may not be longer than {{ maxPasswordLength }} characters.
                </ng-container>
              }
            </span>
          }
        </span>
      </p>

      <div class="frm-alerts" id="frm-msgs">
        @if ($formPasswordsInvalid()) {
          <span class="form-alerts" i18n="form field error message|Both password fields in form must match@@formErrors.passwordsmatch">
            Passwords must match.
          </span>
        }
      </div>

      <p class="card-actions">
        <button
          [disabled]="resetPasswordForm.invalid"
          class="button"
          type="submit"
          i18n="form submit button|Change password for user@@buttons.resetPassword"
        >
          Replace Password
        </button>
      </p>
    </form>
  </div>
} @else {
  <app-spinner />
}
