@use 'abstracts' as app;

%button {
  display: inline-block;

  padding: app.$small-spacing app.$regular-spacing;
  border: 1px solid;
  border-radius: app.$border-radius;

  background-color: app.$white;

  &:hover {
    @include app.button-shadow();
  }
}

.button {
  @extend %button;

  border-color: app.$primary-color;
  background-color: app.$primary-color;

  &:disabled {
    border-color: app.$primary-disabled-color;
    color: app.$white;
    background-color: app.$primary-disabled-color;
  }
}

.danger-button {
  @extend %button;

  border-color: app.$danger-color;
  background-color: app.$danger-disabled-color;

  &:disabled {
    border-color: app.$danger-disabled-color;
  }
}

.info-button {
  @extend %button;

  border-color: app.$info-color;
  background-color: app.$info-disabled-color;

  &:disabled {
    border-color: app.$info-disabled-color;
  }
}

.success-button {
  @extend %button;

  border-color: app.$success-color;
  background-color: app.$success-disabled-color;

  &:disabled {
    border-color: app.$success-disabled-color;
  }
}
