@use 'abstracts' as app;

%card-base,
.card {
  padding: app.$regular-spacing;
  border-radius: app.$lg-border-radius;
  color: app.$black;
  background-color: app.$white;

  // Deeply applies to all of the first-children of the card to remove the top margin.
  :first-child {
    margin-block-start: 0;
  }

  :last-child {
    margin-block-end: 0;
  }
}

.main-card {
  @extend %card-base;

  max-inline-size: 24rem;

  @include app.respond-to('small') {
    // max-width overrides width, but min-width overrides max-width.
    // https://developer.mozilla.org/en-US/docs/Web/CSS/max-width
    min-inline-size: 24rem;
    max-inline-size: 50%;
    margin-inline: auto;
  }

  .button {
    inline-size: 90%;
  }

  .card-actions {
    text-align: center;
  }
}
