@use 'abstracts' as *;

.form-control {
  position: relative;

  label {
    display: block;
    text-align: start;
  }

  input,
  textarea {
    inline-size: 100%;
    padding: $small-spacing;
    border: 1px solid $gray;
    border-radius: $border-radius;
  }
}

.ng-dirty.ng-invalid {
  border-color: $danger-color;
}
