@use 'abstracts' as app;

// Need to think about how to always have the spinner in the correct position for each page.
:host {
  display: block;
  text-align: center;
}

.spinner {
  inline-size: 9rem;
  block-size: 9rem;
}

// Changing these colors
.squares {
  fill: app.$primary-color;
  animation: spin 2.4s linear infinite;
  animation-delay: -2.4s;
}

.square-1 {
  fill: app.$success-color;
  animation-delay: -1.6s;
}

.square-2 {
  fill: app.$danger-color;
  animation-delay: -.8s;
}

:host-context(.modal-blocker) {
  &::before {
    content: '';

    position: fixed;
    inset-block: 0;
    inset-inline: 0;

    background-color: rgba(app.$light-gray, 10%);

    @include app.z-index('overlay');
  }

  svg {
    position: relative;

    @include app.z-index('modal');
  }
}

@keyframes spin {
  8.33% {
    x: 13px;
    y: 1px;
  }

  25% {
    x: 13px;
    y: 1px;
  }

  33.3% {
    x: 13px;
    y: 13px;
  }

  50% {
    x: 13px;
    y: 13px;
  }

  58.33% {
    x: 1px;
    y: 13px;
  }

  75% {
    x: 1px;
    y: 13px;
  }

  83.33% {
    x: 1px;
    y: 1px;
  }
}
