// Colors
$white: #fff;
$gray: #b1a8b9;
$black: #000;
$danger-color:     #cc2936;
$info-color:       #a9e4ef;
$primary-color:    #ffc05c;
$secondary-color:  #603f8b;
$success-color:    #0dfdc9;
$warning-color:    #f4afb4;

// Fonts
$primary-display-font: 'Barriecito', sans-serif;
$primary-text-font:   'Oldenburg', serif;
$heading-1-size:      3.5rem;   // 56px
$heading-2-size:      2.75rem;  // 44px
$heading-3-size:      2.25rem;  // 36px
$heading-4-size:      1.75rem;  // 28px
$heading-5-size:      1.5rem;   // 24px
$heading-6-size:      1.25rem;  // 20px
$text-size-large:     $heading-6-size;
$text-size-medium:    1.125rem; // 18px
$text-size-regular:   1rem;     // 16px
$text-size-small:     .875rem;  // 14px

// Breakpoints -- https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

// z-index -- https://css-tricks.com/systems-for-z-index/
$zindex: (
  'modal'    : 9000,
  'overlay'  : 8000,
  'dropdown' : 7000,
  'header'   : 6000,
  'footer'   : 5000
);

// Border Radius options
$lg-border-radius: 1rem;
$border-radius: .5rem;

// Padding Spacing
$regular-spacing: 1rem;
$small-spacing: .5rem;
