@use 'abstracts' as app;

@font-face {
  font-family: 'Pixelify Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf') format('woff2');
}

:host {
  text-align: center;
}

.banner {
  margin-block: 0 2rem;

  font-family: 'Pixelify Sans', monospace;
  font-size: 5rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .4rem;
}

.card {
  max-inline-size: 90%;
  margin: 0 auto;

  @include app.respond-to('medium') {
    max-inline-size: 52rem;
  }
}
