// Note: this only imports the glyphs needed for "Game Over", if translations begin this this will need to change to support
@import 'https://fonts.googleapis.com/css2?family=Pixelify+Sans&text=GOaemrv%20&display=swap';

.banner {
  font-family: 'Pixelify Sans', monospace;
  font-size: 5rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  letter-spacing: .4rem;
}

.logo {
  text-align: center;
}
