<p class="banner" i18n="text banner|Banner text for 404 not found page@@pageNotFound.banner">Game Over</p>
<div class="card">
  <h2 i18n="page heading 2|Amusing text refering to losing a game@@pageNotFound.header">Oops, we lost (this page)!</h2>
  <p i18n="paragraph|Suggest contacting support@@pageNotFound.contact">
    How did you get here anyway?
    <a href="mailto:rob@brainfry-app.web.app?subject=404">Contact Support</a>
  </p>
  <a routerLink="/dashboard" i18n="link text|Navigate back to dashboard page@@links.backToDashboard">Go back to dashboard</a>
</div>
<div class="logo">
  <img alt="" ngSrc="/imgs/logo-260.png" width="260" height="260" priority>
</div>
