@use 'abstracts' as app;

:host {
  display: grid;
  grid-template-rows: [outer-start] min-content [content-start] 1fr [content-end] min-content [outer-end];
  min-block-size: 100vb;
}

main {
  display: grid;
  grid-template-rows: [outer-start content-start] 1fr [content-end] min-content [outer-end];
  gap: app.$regular-spacing;

  @include app.respond-to('medium') {
    grid-auto-flow: column;
    grid-template-columns: [outer-start] max-content [content-start] 1fr [content-end outer-end];
    grid-template-rows: none;

    .content {
      grid-column: content-start / content-end;
      border-start-start-radius: app.$lg-border-radius;
    }

    .sidebar {
      grid-column: outer-start / content-start;
    }
  }

  .content {
    padding: app.$regular-spacing;
    color: app.$black;
    background-color: app.$white;
  }

  .sidebar {
    padding: app.$small-spacing;
  }
}
