@use 'abstracts' as app;

header {
  display: flex;
  gap: app.$regular-spacing;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-block: app.$small-spacing;
}

@include app.respond-to('medium') {
  :host {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header {
    justify-conent: start;
  }
}
