@if ($showForm()) {
  <div class="main-card">
    <h2 i18n="page heading 2|Form to delete account@@deleteAccount.heading">Delete your account</h2>
    <p class="alert" i18n="paragraph text|Information on the account deletion process@@deleteAccount.first-warning">
      Deleting your account cannot be undone. This is a two step process. Are you sure you wish to proceed?
    </p>
    @if ($errorCode(); as errorCode) {
      <p class="alert">
        <app-auth-error-messages [$code]="errorCode" />
      </p>
    }
    <p class="card-actions">
      <button
        (click)="openDialog()"
        class="button"
        type="button"
        i18n="action button|Begin account deletion process@@buttons.deleteAccount.begin"
      >
        Begin account deletion
      </button>
    </p>
  </div>
  <dialog #confirmDialog id="confirm-dialog">
    <p class="alert" i18n="paragraph text|Information on the account deletion process@@deleteAccount.final-warning">
      Enter your password to proceed. Clicking the complete button will immediately and irrecoverably delete your account.
    </p>
    @if (user$ | async; as user) {
      <form
        (ngSubmit)="deleteAcount(user)"
        [formGroup]="deleteAccountForm"
        aria-describedby="frm-msgs"
        aria-label="Change Password"
        i18n-aria-label="aria-label|Form to change password for user account@@form.role.changePassword"
      >
        <p class="form-control">
          <label for="fld-password" i18n="form field label|Login password input@@fields.password">Password:</label>
          <input
            [attr.aria-invalid]="$passwordCntrlInvalid()"
            [minlength]="minPasswordLength"
            [maxlength]="maxPasswordLength"
            id="fld-password"
            type="password"
            aria-describedby="fld-password-msgs"
            autocomplete="current-password"
            formControlName="password"
            required
          >
          <span id="fld-password-msgs">
            @if ($passwordCntrlErrors(); as errors) {
              <span class="form-alerts">
                @if (errors['required']) {
                  <ng-container i18n="form field error message|Password is a required field@@formErrors.password.required">
                    Please enter your password.
                  </ng-container>
                }
                @if (errors['minlength']) {
                  <ng-container i18n="form field error message|Password is too short@@formErrors.password.minlength">
                    Please enter a password that contains at least {{ minPasswordLength }} characters and a combination of upper and
                    lowercase letters, numbers, and symbols.
                  </ng-container>
                }
                @if (errors['maxlength']) {
                  <ng-container i18n="form field error message|Password is too long@@formErrors.password.maxlength">
                    Your password may not be longer than {{ maxPasswordLength }} characters.
                  </ng-container>
                }
              </span>
            }
          </span>
        </p>

        <p class="spaced-around">
          <button
            [disabled]="deleteAccountForm.invalid"
            class="danger-button"
            type="submit"
            i18n="form submit button|Final account deletion@@buttons.deleteAccount.complete"
          >
            Complete account deletion
          </button>
          <button (click)="closeDialog()" class="success-button" type="button" autofocus i18n="form button|Cancel action@@buttons.cancel">
            Cancel
          </button>
        </p>
      </form>
    }
  </dialog>
} @else {
  <app-spinner />
}
