@if ($showForm()) {
  <div class="main-card">
    <h2 class="heading4" i18n="page heading 2|Recover forgotten password@@forgotPassword.header">Recover your password</h2>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="forgotForm"
      aria-label="Forgot Password"
      i18n-aria-label="aria-label|Form to request email to reset password of user account@@form.role.forgotPassword"
    >
      <p class="form-control">
        <label for="fld-email" i18n="form field label|Forgot password email input@@fields.email">Email:</label>
        <input
          [attr.aria-invalid]="$emailCntrlInvalid()"
          id="fld-email"
          type="email"
          aria-describedby="fld-email-msgs"
          autocomplete="email"
          autofocus
          formControlName="email"
          required
        >
        <span id="fld-email-msgs">
          @if ($emailCntrlErrors(); as errors) {
            <span class="form-alerts">
              @if (errors['required']) {
                <ng-container i18n="form field error message|Email is a required field@@formErrors.email.required">
                  Please enter your email address.
                </ng-container>
              }
              @if (errors['email']) {
                <ng-container i18n="form field error message|Email is a required field@@formErrors.email.valid">
                  Please enter a valid email address.
                </ng-container>
              }
            </span>
          }
        </span>
      </p>

      @if ($errorCode(); as errorCode) {
        <p class="alert">
          <app-auth-error-messages [$code]="errorCode" />
        </p>
      }

      <p class="card-actions">
        <button
          [disabled]="forgotForm.invalid"
          class="button"
          type="submit"
          i18n="form submit button|Send email to user@@buttons.sendEmail"
        >
          Send password reset email
        </button>
      </p>
    </form>
    <p class="card-actions">
      <a routerLink="/login" i18n="navigation link|Link to login page@@links.login">Return to login</a>
    </p>
  </div>
} @else {
  <app-spinner />
}
