<div class="card">
  <h2 class="display" i18n="page heading 2|Terms and Conditions@@termsPage.heading">Terms &amp; Conditions</h2>
  <section aria-labelledby="the-app">
    <h3 id="the-app" i18n="section heading 3|Summry of terms for the application@@termsPage.appHeading">The application</h3>
    <p i18n="paragraph text|Terms and conditions for the use of the application@@termsPage.appTerms">
      This application is presented for demonstration purposes only. Access may be granted and revoked by the author or designated
      representatives at any time. There are no warranties express or implied. Use at your own risk.
    </p>
  </section>
  <section aria-labelledby="the-code">
    <h3 id="the-code" i18n="section heading 3|Summry of terms for the code@@termsPage.codeHeading">The code</h3>
    <p i18n="paragraph text|Introduction of what is about to be summarized@@termsPage.introduction">
      <abbr title="Too Long; Didn’t Read" i18n-title="abbr title|chat initalizm@@termsPage.abbrTLDR">TL;DR</abbr>
      Here’s what the license entails:
    </p>
    <ol>
      <li i18n="list item text|legal summary bullet point of GPL2 license@@termsPage.summary.modification">
        Anyone can copy, modify and distribute this software.
      </li>
      <li i18n="list item text|legal summary bullet point of GPL2 license@@termsPage.summary.notice">
        You have to include the license and copyright notice with each and every distribution.
      </li>
      <li i18n="list item text|legal summary bullet point of GPL2 license@@termsPage.summary.privateUse">
        You can use this software privately.
      </li>
      <li i18n="list item text|legal summary bullet point of GPL2 license@@termsPage.summary.commercialUse">
        You can use this software for commercial purposes.
      </li>
      <li i18n="list item text|legal summary bullet point of GPL2 license@@termsPage.summary.risks">
        If you dare build your business solely from this code, you risk open-sourcing the whole code base.
      </li>
      <li i18n="list item text|legal summary bullet point of GPL2 license@@termsPage.summary.changes">
        If you modify it, you have to indicate changes made to the code.
      </li>
      <li i18n="list item text|legal summary bullet point of GPL2 license@@termsPage.summary.distribution">
        Any modifications of this code base MUST be distributed with the same license, GPLv3.
      </li>
      <li i18n="list item text|legal summary bullet point of GPL2 license@@termsPage.summary.warranty">
        This software is provided without warranty.
      </li>
      <li i18n="list item text|legal summary bullet point of GPL2 license@@termsPage.summary.liability">
        The software author or license can not be held liable for any damages inflicted by the software.
      </li>
    </ol>
    <p>
      <small i18n="small paragraph text|attribution to original summary@@termsPage.attribution">
        Summary provided by <a href="https://gist.github.com/kn9ts/cbe95340d29fc1aaeaa5dd5c059d2e60">kn9ts</a>.
      </small>
    </p>
    <p i18n="paragraph text|Link to full license@@termsPage.licenseLink">See full <a href="/LICENSE">license</a> for details.</p>
    <p><a routerLink="/" i18n="link text|link to root page@@links.returnToRoot">Return to Brainfry</a></p>
  </section>
</div>
