<footer aria-label="Main footer" i18n-aria-label="aria label|Primary footer@@footer.aria-label">
  <p>
    <span class="item" i18n="global footer|Site copyright notice@@text.copyright">&copy; Copyright</span>
    <time [attr.datetime]="today | date: 'yyyy'" class="item">{{ today | date: 'yyyy' }}</time>
    <a class="item" routerLink="/privacy" i18n="global footer|Link to privacy policy page@@links.privacy">Privacy Policy</a>
    <a class="item" routerLink="/terms" i18n="global footer|Link to terms &amp; conditions page@@links.terms">Terms &amp; Conditions</a>
  </p>
</footer>
