@use 'abstracts' as *;

footer {
  @extend %dark-bg-links;

  display: flex;
  justify-content: flex-end;
  background-color: $dark-gray;
}

.item {
  margin-inline-end: .5rem;
  padding-inline-end: $small-spacing;
  border-inline-end: 2px solid $white;

  // Hide the separator between the copyright and date, and on the last item.
  &:first-child,
  &:last-child {
    margin-inline-end: 0;
    border-inline-end: none;
  }
}
