@if ($showForm()) {
  <div class="main-card">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" aria-label="Login" i18n-aria-label="aria-label|Form to login@@form.role.login">
      <p class="form-control">
        <label for="fld-email" i18n="form field label|Login email input@@fields.email">Email:</label>
        <input
          [attr.aria-invalid]="$emailCntrlInvalid()"
          id="fld-email"
          type="email"
          aria-describedby="fld-email-msgs"
          autocomplete="email"
          autofocus
          formControlName="email"
          required
        >
        <span id="fld-email-msgs">
          @if ($emailCntrlErrors(); as errors) {
            <span class="form-alerts">
              @if (errors['required']) {
                <ng-container i18n="form field error message|Email is a required field@@formErrors.email.required">
                  Please enter your email address.
                </ng-container>
              }
              @if (errors['email']) {
                <ng-container i18n="form field error message|Email is a required field@@formErrors.email.valid">
                  Please enter a valid email address.
                </ng-container>
              }
            </span>
          }
        </span>
      </p>

      <p class="form-control">
        <label for="fld-password" i18n="form field label|Login password input@@fields.password">Password:</label>
        <input
          [attr.aria-invalid]="$passwordCntrlInvalid()"
          [minlength]="minPasswordLength"
          [maxlength]="maxPasswordLength"
          id="fld-password"
          type="password"
          aria-describedby="fld-password-msgs"
          autocomplete="current-password"
          formControlName="password"
          required
        >
        <span id="fld-password-msgs">
          @if ($passwordCntrlErrors(); as errors) {
            <span class="form-alerts">
              @if (errors['required']) {
                <ng-container i18n="form field error message|Password is a required field@@formErrors.password.required">
                  Please enter your password.
                </ng-container>
              }
              @if (errors['minlength']) {
                <ng-container i18n="form field error message|Password is too short@@formErrors.password.minlength">
                  Please enter a password that contains at least {{ minPasswordLength }} characters and a combination of upper and lowercase
                  letters, numbers, and symbols.
                </ng-container>
              }
              @if (errors['maxlength']) {
                <ng-container i18n="form field error message|Password is too long@@formErrors.password.maxlength">
                  Your password may not be longer than {{ maxPasswordLength }} characters.
                </ng-container>
              }
            </span>
          }
        </span>
      </p>

      <p class="card-actions">
        <button
          [disabled]="loginForm.invalid"
          class="button"
          type="submit"
          i18n="form submit button|Email and password login form submit button@@buttons.login"
        >
          Login
        </button>
      </p>
    </form>
    <p class="card-actions">
      <a routerLink="/forgot-password" i18n="navigation link|Link to page to recover password@@links.forgot-password">
        Forgot your password?
      </a>
    </p>
  </div>
} @else {
  <app-spinner />
}
