@if (vm$ | async; as vm) {
  <div class="main-card">
    <h2 i18n="page heading 2|Update user profile@@userProfile.header">Your Profile</h2>
    @if ($showForm()) {
      <form
        (ngSubmit)="onSubmit(vm.user)"
        [formGroup]="profileForm"
        aria-describedby="frm-msgs"
        aria-label="Change Password"
        i18n-aria-label="aria-label|Form to update user profile@@form.role.updateProfile"
      >
        <p class="form-control">
          <label for="fld-displayName" i18n="form field label|Profile display name field@@fields.displayName">Your name:</label>
          <input
            [attr.aria-invalid]="$nameCntrlInvalid()"
            id="fld-displayName"
            type="text"
            aria-describedby="fld-displayName-msgs"
            autocomplete="name"
            formControlName="displayName"
            required
          >
          <span id="fld-displayName-msgs">
            @if ($nameCntrlErrors(); as errors) {
              <span class="form-alerts">
                @if (errors['required']) {
                  <ng-container i18n="form field error message|Name is a required field@@formErrors.displayName.required">
                    Tell use how you would like to be addressed.
                  </ng-container>
                }
              </span>
            }
          </span>
        </p>

        <fieldset class="radio-group">
          <legend i18n="form field label|Profile photo url field@@fields.photoURL">Your photo:</legend>

          @if ($showUrlInput()) {
            <p class="custom-url">
              <label for="fld-customUrl" i18n="form field label|Profile custom photo URL@@fields.customUrl">Link to your photo:</label>
              <input
                [attr.aria-invalid]="$photoUrlCntrlInvalid()"
                id="fld-customUrl"
                type="url"
                aria-describedby="fld-customUrl-msgs"
                formControlName="photoURL"
                autocomplete="photo"
              >
              <span id="fld-customUrl-msgs">
                @if ($photoUrlCntrlErrors(); as errors) {
                  <span class="form-alerts">
                    @if (errors['pattern']) {
                      <ng-container i18n="form field error message|Photo URL must link to an image extension@@formErrors.photoURL.pattern">
                        Photo URL must link to a file with an image file extension like jpeg, jpg, png, avif, webp, or gif.
                      </ng-container>
                    }
                  </span>
                }
              </span>
            </p>

            @if (photoUrlCntrl.value && photoUrlCntrl.valid) {
              <p class="photo-block">
                <img [ngSrc]="photoUrlCntrl.value" [alt]="" fill>
              </p>
            }

            <p class="toggle-wrap">
              <button (click)="togglePhotoUrl()" class="info-button" type="button" i18n="button|change photo picker to uploaded files@@buttons.usePhotoUpload">Upload a photo</button>
            </p>
          } @else {
            <div class="photos">
              @for (item of vm.profilePhotos; track item.url; let indx = $index) {
                <input id="fld-photoURL-{{ indx }}" [value]="item.url" formControlName="photoURL" name="photoURL" class="button-radio" type="radio">
                <label for="fld-photoURL-{{ indx }}" class="photo-block">
                  <img [ngSrc]="item.url" alt="" fill>
                </label>
              }

              <app-photo-upload [$fileCount]="vm.profilePhotos.length" [uid]="vm.user.uid" class="upload-file" />

              <p class="toggle-wrap">
                <button (click)="togglePhotoUrl()" class="info-button" type="button" i18n="button|change photo picker to URL input@@buttons.usePhotoLink">Use a link to a photo</button>
              </p>
            </div>
          }
        </fieldset>

        @if ($errorCode(); as errorCode) {
          <p class="alert">
            <app-auth-error-messages [$code]="errorCode" />
          </p>
        }

        <p class="card-actions">
          <button
            [disabled]="profileForm.invalid"
            class="button"
            type="submit"
            i18n="form submit button|update user profile@@buttons.updateProfile"
          >
            Update profile
          </button>
        </p>
      </form>
    } @else {
      <app-spinner />
    }
  </div>
} @else {
  <app-spinner />
}
