@use 'abstracts' as *;

label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
  cursor: pointer;
}

.ng-dirty.ng-invalid {
  border-color: $danger-color;
}

.form-control {
  position: relative;

  label {
    display: block;
    text-align: start;
  }

  input,
  textarea {
    inline-size: 100%;
    padding: $small-spacing;
    border: 1px solid $gray;
    border-radius: $border-radius;
  }
}

.form-alerts {
  display: block; // Generally a span by default

  margin-block-start: .5rem;
  padding: $small-spacing;
  border: 1px solid $danger-color;
  border-radius: $border-radius;

  background-color: $warning-color;

  // This really needs some better attention to fitting into the available window without making the
  // page scroll or the form jump around as messages appear and disappear.
  @include respond-to('medium') {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 100%;

    inline-size: 100%;
    margin-inline-start: .5rem;
  }
}
