@use 'abstracts' as app;

label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
  cursor: pointer;
}

.ng-dirty.ng-invalid {
  border-color: app.$danger-color;
}

.form-control {
  position: relative;

  label {
    display: block;
    text-align: start;
  }

  input,
  textarea {
    inline-size: 100%;
    padding: app.$small-spacing;
    border: 1px solid app.$light-gray;
    border-radius: app.$border-radius;
  }
}

.frm-alerts {
  position: relative;
}

.form-alerts {
  display: block; // Generally a span by default

  margin-block-start: app.$small-spacing;
  padding: app.$small-spacing;
  border: 1px solid app.$danger-color;
  border-radius: app.$border-radius;

  background-color: app.$warning-color;

  // This really needs some better attention to fitting into the available window without making the
  // page scroll or the form jump around as messages appear and disappear.
  @include app.respond-to('medium') {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 100%;

    inline-size: 100%;
    margin-inline-start: app.$small-spacing;
  }
}
