@use 'abstracts' as app;

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  min-block-size: 100vb;
  color: app.$white;
  background: app.$secondary-color;
}
