@use 'abstracts' as app;

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  scrollbar-gutter: stable both-edges; // https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter
  min-block-size: 100vb;
  color: app.$white;
  background: app.$secondary-color;
}
