@use 'abstracts' as app;

/* latin */
@font-face {
  font-family: Barriecito;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Barriecito/Barriecito-Regular.ttf') format('woff2');
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+0304,
    U+0308,
    U+0329,
    U+2000-206F,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

/* latin */
@font-face {
  font-family: Oldenburg;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Oldenburg/Oldenburg-Regular.ttf') format('woff2');
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+0304,
    U+0308,
    U+0329,
    U+2000-206F,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

html {
  font-size: .75em;
  // stylelint-disable-next-line plugin/no-unsupported-browser-features -- stylistic change that can be skipped in unsupported browsers
  text-decoration-thickness: 8%; // Sets the thickness as a percentage of the font size
  text-underline-position: under; // Places underlines below the descenders

  @include app.respond-to('small') {
    font-size: 1em;
  }
}

// stylelint-disable-next-line plugin/no-unsupported-browser-features -- stylistic change that can be skipped in unsupported browsers
::selection {
  text-shadow: none;
  background: rgba(app.$primary-color, 40%);
}

body {
  font-family: app.$primary-text-font;
  font-size: app.$text-size-regular;
  line-height: 1.5;
}

a {
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

h1,
.heading1 {
  font-size: app.$heading-1-size;
  line-height: 1.2;
  text-wrap: balance;
}

h2,
.heading2 {
  font-size: app.$heading-2-size;
  line-height: 1.2;
  text-wrap: balance;
}

h3,
.heading3 {
  font-size: app.$heading-3-size;
  line-height: 1.2;
  text-wrap: balance;
}

h4,
.heading4 {
  font-size: app.$heading-4-size;
  line-height: 1.2;
  text-wrap: balance;
}

h5,
.heading5 {
  font-size: app.$heading-5-size;
  line-height: 1.2;
  text-wrap: balance;
}

h6,
.heading6 {
  font-size: app.$heading-6-size;
  line-height: 1.2;
  text-wrap: balance;
}

.display {
  font-family: app.$primary-display-font;
}
